body {
  background-image: url("./ArtWallGrid.png");
  background: #000000;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #F2F2F2;
  /*color: #000;*/
  font-family: "Russo One", sans-serif;
}

@media (max-width: 850px) {
  .title-overlay {
    width: 100vw;
    height: 40vh
  }

  .title {
    float: left;
    width: 100%;
    text-align: center;
  }

  .globe {
    float: left;
    width: 100%;
    height: 20vh;
  }

  .sub-info {
    float: left;
    width: 100%;
    text-align: center;
  }

  .small {
    font-size: 1.0em
  }

  .map {
    width: 100vw;
    height: 40vh;
  }

  .info-overlay {
    width: 100vw;
    height: 10vh;
    text-align: center;
  }

  .graticule {
    stroke-width: 0.25px;
  }

  .land {
    stroke-width: 0.5px;
  }
}

@media (min-width: 851px) and (max-width: 5759px) {
  .title-overlay {
    width: 100vw;
    height: 15vh
  }

  .title {
    float: left;
    width: 40%;
    text-align: left;
    padding-left: 10px
  }

  .globe {
    float: left;
    width: calc(20% - 20px);
    height: 20vh;
  }

  .sub-info {
    float: left;
    width: 40%;
    text-align: right;
    padding-right: 10px
  }

  .map {
    width: 100vw;
    height: 75vh;
  }

  .info-overlay {
    width: 100vw;
    height: 10vh;
    text-align: center;
  }

  .graticule {
    stroke-width: 1px;
  }

  .land {
    stroke-width: 1px;
  }
}

@media (min-width: 5760px) {
  .title-overlay {
    float: left;
    width: calc(100vw * 3 / 15);
    height: 100vh;
  }

  .info-overlay {
    float: left;
    width: calc(100vw * 12 / 15);
    height: calc(100vh * 1 / 8);
    font-size: 100px;
  }

  .title {
    width: 100%;
    height: calc(100vh * 2 / 8);
    text-align: center;
  }

  .map {
    float: left;
    width: calc(100vw * 12 / 15);
    height: calc(100vh * 7 / 8);
  }

  .globe {
    width: 100%;
    height: calc(100vh * 4 / 8);
  }

  .sub-info {
    width: 100%;
    height: calc(100vh * 2 / 8);
  }

  .vert-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .title-text {
    margin: 0;
    font-size: 200px;
  }

  .sub-title {
    margin: 0;
    height: calc(100vh * 1 / 8);
    font-size: 110px;
    text-align: center;
    font-family: sans-serif;
  }

  .go-link {
    margin: 0;
    height: calc(100vh * 1 / 8);
    font-size: 80px;
    text-align: center;
    font-family: sans-serif;
  }

  .viz-info {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 160px;
    text-align: center;
  }

  .graticule {
    stroke-width: 1px;
  }

  .land {
    stroke-width: 1px;
  }
}

.water {
  fill: hsl(195, 70%, 44%);
}

.land {
  fill: hsl(0, 70%, 55%);
  stroke: #000000;
}

.graticule {
  fill: none;
  stroke: #F2F2F2;
}

/*.route {
  stroke-width: 5px;
  stroke: #45fff4;
  fill: none;
}*/
